/* npz-pourparler checksum: ccee1da160b6a6e8fb5f6fbb14bdf9acb8b3dcaf8c1acd5bddc795ee70afa6a2 */
:root { --npz-pourparler-checksum: 'ccee1da160b6a6e8fb5f6fbb14bdf9acb8b3dcaf8c1acd5bddc795ee70afa6a2'; }
