/* npz-pourparler checksum: ff681f40be4b822cceca573a1da170309e3e5decaaf7fbe566912ecae12c71fb */
:root { --npz-pourparler-checksum: 'ff681f40be4b822cceca573a1da170309e3e5decaaf7fbe566912ecae12c71fb'; }
