/* npz-pourparler checksum: 47c87731f2713ad3579342c129e80aa43a93b1ef8b0a0b5b7645dd81a2be3e59 */
:root { --npz-pourparler-checksum: '47c87731f2713ad3579342c129e80aa43a93b1ef8b0a0b5b7645dd81a2be3e59'; }
